@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
    body,
    #__next, /* for Next.js */
    main {
    height: 100%;
  }
  :root {
    --border: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }
  .dark {
    --border: 216 34% 17%;
    --radius: 0.5rem;
  }
}